<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="icon" sizes="32x32" href="{% static 'img/favicons/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>

